<app-navbar></app-navbar>
<section class="contact__container">
  <h1 class="title-font">Contactanos</h1>
  <p class="text-font--question">
    ¿Tienes una pregunta o duda sobre alguno de nuestros productos?
  </p>
  <p class="text-black">No dudes en contactarnos</p>
  <img
    class="img__logo--store"
    src="./assets/logo_store.png"
    alt="logo store"
  />
  <h3 class="text-black">Medios de contacto</h3>
  <div class="logo__container">
    <a
      target="_blank"
      href="https://www.facebook.com/profile.php?id=100095100533311"
      ><img class="img-logo" src="./assets/facebook.png" alt="facebook"
    /></a>
    <a
      ><img class="img-logo" src="./assets/whatsapp.png" alt="whatsapp"
    /></a>
    <a
      ><img
        class="img-logo"
        src="./assets/instagram.png"
        alt="instagram"
    /></a>
    <a><img class="img-logo" src="./assets/email.png" alt="email" /></a>
  </div>
</section>
