<header class="header">
  <nav class="header__nav">
    <ul class="header__nav--ul">
      <li class="title-font"><a routerLink="">C&C</a></li>
      <input type="checkbox" id="check" />
      <span class="menu">
        <li><a routerLink="">Inicio</a></li>
        <li><a routerLink="/products">Productos</a></li>
        <li><a routerLink="/offers">Ofertas</a></li>
        <li><a routerLink="/contact">Contacto</a></li>
        <label for="check" class="close-menu"><i class="fas fa-times"></i></label>
      </span>
      <label for="check" class="open-menu"
        ><i class="fa-solid fa-bars"></i></label
      >
    </ul>
  </nav>
</header>
