<app-navbar></app-navbar>
<section class="home__container">
  <video id="video_cel" muted autoplay loop>
    <source src="../../../assets/video_cel.mp4" type="video/mp4" />
  </video>
  <div class="home__container--info">
    <h1 class="title-font">{{ title }}</h1>
    <button class="btn" routerLink="/products">Ver productos</button>
  </div>
  <div class="home__container--info2">
    <h1>Encuentra todo lo que necesites</h1>
    <p>Calidad al mejor precio</p>
    <button class="btn" routerLink="/products">Ver productos</button>
  </div>
  <video id="video_desk" muted autoplay loop>
    <source src="../../../assets/video_home.mp4" type="video/mp4" />
  </video>
  <div class="capa"></div>
</section>
